{% extends 'main/base.html' %}

{% block title %}
    Chevalier
{% endblock %}

{% block body %}
<div class="container">
    &nbsp;
    <div class="row">
        {% load static %}
        {% for b in barbers %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'media/avatar.jpeg' %}" class="card-img-top" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title">{{ b.name }} {{ b.lastname1 }}</h5>
                        <p class="card-text">Reserva ya mismo con {{ b.name }}!</p>
                        <form method="POST" action="{% url 'reserve' b.id %}">
                            {% csrf_token %}
                            <input type="date" name="appointment_date" min="{{ min }}" max="{{ max }}" value="{{ value }}">
                            <button type="submit" class="btn btn-primary">Ver disponibilidad</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}