{% extends 'main/base.html' %}

{% block title %}
Barberos
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>Barberos</h2>
            <ul class="list-group">
                {% for barber in barbers %}
                    <li class="list-group-item">
                        {{ barber }}
                        <form method="POST" action="{% url 'barber:delete_barber' barber.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}