{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Chevalier</a>
        {% if not user.is_authenticated and not login %}
            <a class="nav-link active text-white" aria-current="page" href="{% url 'login_req' %}">Acceder</a>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'add_barber' %}">Agregar barbero</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link active text-white" aria-current="page" href="{% url 'logout_req' %}">Cerrar Sesión</a>
        {% endif %}
    </div>
</nav>
{% endblock %}